body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    float: left;
    width: 3;
    padding: 5px;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }